altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cssselect==1.1.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-heroku==0.3.1
docopt==0.6.2
future==0.18.2
futures==3.1.1
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
goslate==1.5.1
gunicorn==20.0.4
heroku==0.1.4
httplib2==0.19.1
humanize==3.1.0
idna==2.10
jdcal==1.4.1
Js2Py==0.70
linode-api4==3.0.2
maya==0.6.1
MouseInfo==0.1.3
newsapi-python==0.2.6
oauthlib==3.1.0
packaging==20.8
Pillow==8.0.1
pipenv==2020.11.15
pipwin==0.5.0
protobuf==3.14.0
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
pyee==7.0.4
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyjsparser==2.7.1
PyJWT==1.7.1
python-dateutil<=3.0
PyTweening==1.0.3
pytz==2020.1
pytzdata==2020.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
regex==2020.10.23
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.6.3
six==1.15.0
sounddevice==0.4.1
soupsieve==2.0.1
sqlparse==0.4.1
tqdm==4.54.1
uritemplate==3.0.1
urllib3==1.25.11
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
whitenoise==5.2.0
wikipedia==1.4.0
